<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Ingreso de Datos Personales</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
  <style>
    body {
      border: 5px solid #007bff;
      margin: 20px;
      padding: 20px;
      border-radius: 10px;
    }
    h1, h2 {
      text-align: center;
    }
  </style>
</head>
<body>
<div class="container">
  <h1>Formulario de Ingreso de Datos</h1>
  <h2>Datos Personales</h2>
  <form th:action="@{/form}" th:object="${user}" method="post" class="need-validation" novalidate>
    <div class="form-group">
      <label for="nombre">Nombre</label>
      <input type="text" th:field="*{nombre}" class="form-control" id="nombre" placeholder="Ingrese su nombre" required>
      <div class="invalid-feedback">
        Ingrese su nombre
      </div>
    </div>

    <div class="form-group">
      <label for="email">Email</label>
      <input type="email" th:field="*{email}" class="form-control" id="email" placeholder="Ingrese su email" required>
      <div class="invalid-feedback">
        Ingrese un email valido
      </div>
    </div>

    <div class="form-group">
      <label for="password">Password</label>
      <input type="password" th:field="*{password}" class="form-control"
             id="password" placeholder="Ingrese su password" required>
      <div class="invalid-feedback">
        Ingrese un password
      </div>
    </div>

    <div class="form-group">
      <label for="telefono">Teléfono</label>
      <input type="text" th:field="*{telefono}" class="form-control"
             id="telefono" placeholder="Ingrese su teléfono" required>
      <div class="invalid-feedback">
        Ingrese un número de teléfono
      </div>
    </div>

    <div class="form-group">
      <label for="direccion">Dirección</label>
      <input type="text" th:field="*{direccion}" class="form-control"
             id="direccion" placeholder="Ingrese su dirección" required>
      <div class="invalid-feedback">
        Ingrese una direccion
      </div>
    </div>

    <!-- Botón centrado -->
    <div class="text-center">
      <button type="submit" class="btn btn-primary">Enviar</button>
    </div>

    <script>
      (function () {
        'use strict';
        window.addEventListener('load', function () {
          var forms = document.getElementsByClassName('need-validation');
          Array.prototype.forEach.call(forms, function (form) {
            form.addEventListener('submit', function (event) {
              if (form.checkValidity() === false) {
                event.preventDefault();
                event.stopPropagation();
              } else {
                event.preventDefault();
                form.classList.add('was-validated');
                alert("Se enviaron los datos");
              }
            }, false);
          });
        }, false);
      })();
    </script>
  </form>
</div>
</body>
</html>